/*Common here*/
/*End Mega Menu*/
body {
    font-family: 'Roboto';
}

.section-copyright, .section-manga-new, .section-slider {
    padding-top: 15px;
    padding-bottom: 15px;

}

.bg-theme {
    background: #FF9E1D !important;
}

/*End Common here*/

.section-navigation .btn.btn-outline-success {
    background: white;
    color: black;
}

.section-navigation .btn.btn-outline-success {
    background: #f40009;
    color: white;
    border-color: white;
}

.section-navigation .btn.btn-outline-success:hover {
    background: white;
    color: #f40009 !important;
    border-color: #f40009 !important;
}

.section-navigation .nav-item .nav-link {
    color: #7F4F0E !important;
}

.section-navigation .nav-item.active .nav-link {
    color: #402707 !important;
    font-weight: bold;
}

/*Mega Menu*/

.section-navigation .menu-large {
    position: static !important;
}

.section-navigation .megamenu {
    padding: 20px 20px;
    width: 100%;
}

.section-navigation .megamenu > div > li > ul {
    padding: 0;
    margin: 0;
}

.section-navigation .megamenu > div > li > ul > li {
    list-style: none;
}

.section-navigation .megamenu .card {
    outline: none;
}

.section-navigation .megamenu .card:hover,
.section-navigation .megamenu .card:focus {
    outline: 1px solid #000;
}

.section-navigation .megamenu > div > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: normal;
}

.section-navigation .megamenu > div > li > ul > li > a:hover,
.section-navigation .megamenu > div > li > ul > li > a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}

.section-navigation .megamenu.disabled > a,
.section-navigation .megamenu.disabled > a:hover,
.section-navigation .megamenu.disabled > a:focus {
    color: #999999;
}

.section-navigation .megamenu.disabled > a:hover,
.section-navigation .megamenu.disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    cursor: not-allowed;
}

.section-navigation .megamenu.dropdown-header {
    color: #428bca;
    font-size: 18px;
}

@media (max-width: 768px) {
    .section-navigation .megamenu {
        margin-left: 0;
        margin-right: 0;
    }

    .section-navigation .megamenu > li {
        margin-bottom: 30px;
    }

    .section-navigation .megamenu > li:last-child {
        margin-bottom: 0;
    }

    .section-navigation .megamenu.dropdown-header {
        padding: 3px 15px !important;
    }

    .section-navigation .navbar-nav .open .dropdown-menu .dropdown-header {
        color: #fff;
    }
}

/*New manga section*/
/*// Small devices (landscape phones, 576px and up)*/
/*New manga section -> item*/
.item-img-width {
    width: 100%;
    min-height: 80px;
}

@keyframes ringring {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.item:hover, .swiper-slide:hover {
    -webkit-animation-name: ringring;
    animation-name: ringring;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.section-padding {
    width: 100%;
    padding: 5px 10px;

}

.item-title {
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bg-theme .item-link {
    color: #402707 !important;
    font-weight: bold;
}

.bg-theme .item-chapter-link {
    color: #402707 !important;

}

/*end New manga section -> item*/
@media (min-width: 576px) {
    .item-img-width {
        min-height: 120px;
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .item-img-width {
        min-height: 160px;
    }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 1024px) {
    .item-img-width {
        min-height: 160px;
    }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .item-img-width {
        min-height: 260px;
    }
}

/*End New Manga Section*/

/*FOOTER*/
.section-copyright {
    background: #212529;
    color: white;
}