/*Common here*/
/*End Mega Menu*/
body, button {
    font-family: 'Roboto' !important;

}

hr {
    border-color: #2E3140;
}

.section-navigation {
    background: #f40009;

}

.section-navigation {
}

.section-manga-new-pagination {
    padding-top: 10px;
}

.section-manga-new-pagination .pagination .page-item .page-link {
    padding: 1rem 1.25rem;
    line-height: 1;
    background-color: #fff;
    color: #f40009;
}

.section-manga-new-pagination .page-item.active .page-link {
    border-color: #dee2e6;
    font-weight: bold;
}

.section-manga-new-pagination .page-item:first-child .page-link {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.section-manga-new-pagination .page-item:last-child .page-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.section-copyright .container, .section-manga-new .container, .section-slider .container, .section-report .container {
    padding-top: 10px;

}

main {
    background: #f1f3f5;
}

.section-copyright {
    padding-top: 15px;
}

.heading-title {
    color: #212529;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 24px;
    width: 100%;
}

.section-manga-new-sidebar {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

/*End Common here*/
.bg-theme {
    background: #f40009 !important;
}

.section-navigation .btn.btn-outline-success {
    background: white;
    color: white;
    border-radius: 50%;
    padding-top: 10px;
}

.section-navigation .btn.btn-outline-success {
    background: #f40009;
    color: white;
    border-color: white;
}

.section-navigation .nav-item:hover {
    color: white !important;
    background: #DB0008;
}

.section-navigation .btn.btn-outline-success:hover {
    background: white;
    color: #f40009 !important;
    border-color: #f40009 !important;
}

.section-navigation .nav-item .nav-link {
    color: white !important;
    font-size: 16px;
    font-weight: bold;

}

.abs-number {
    position: relative
}

.number {
    position: absolute;
    padding: 4px 3px;
    /* padding-left: 5px; */
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
    /* padding-right: 5px; */
    border-radius: 50%;
    background: white;
    color: #DB0008;
    font-weight: bold;
    /* margin-right: 10px; */
    /* margin-left: 10px; */
    left: 15px;
    top: -11px;
    font-size: 1rem;
    font-family: 'roboto';
    border: 1px solid #DB0008;
}

.section-navigation .nav-item.active {
    color: white !important;
    background: #DB0008;
}

.section-navigation .nav-item.active .nav-link {
    color: white !important;

}

.alert-new {
    position: relative;
    animation: mymove 2s infinite;

}

@-webkit-keyframes mymove {
    0% {
        visibility: hidden;
        color: transparent;
    }
    30% {
        visibility: visible;
        color: white;
    }
    100% {
        visibility: visible;
        color: white;
    }
}

/* Standard syntax */
@keyframes mymove {
    0% {
        visibility: hidden;
        color: transparent;
    }
    30% {
        visibility: visible;
        color: white;
    }
    100% {
        visibility: visible;
        color: white;
    }
}

.section-navigation .nav-item {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
}

.section-navigation .nav-item.menu-large {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;

}

.section-navigation .dropdown.menu-large.nav-item .nav-link {
    padding-left: 15px;
    padding-right: 15px;
}

.section-navigation .dropdown-menu {
    border-radius: 0;
}

.section-navigation .navbar {
    padding: 0 1rem !important;
}

.section-navigation .manga-search {
    border-radius: 50px;
    background: #DB0008;
    outline: none;
    color: white;
    border: none;
    padding-bottom: 0.8rem;
    padding-top: 1.2rem;
    padding-left: 2.5rem;
    padding-right: 0.8rem;
    width: 100%;
}

.section-navigation .manga-search::placeholder {
    color: white !important;
}

.section-navigation .manga-search-merge {
    position: relative;
    padding-top: 7px !important;
    padding-bottom: 5px;
}

.section-navigation .manga-search-submit {
    color: white;
    position: absolute;
    left: 14px;
    top: 22px;
}

/*Mega Menu*/
.section-navigation .menu-large {
    position: static !important;
}

.section-navigation .megamenu {
    padding: 2.5px 2.5px;
    width: 100%;
}

.section-navigation .megamenu .type-manga {
    padding: 5px 5px;
}

.section-navigation .megamenu > div > li > ul {
    padding: 0;
    margin: 0;
}

.section-navigation .megamenu > div > li > ul > li {
    list-style: none;
}

.section-navigation .megamenu .card {
    outline: none;
}

.section-navigation .megamenu .card:hover,
.section-navigation .megamenu .card:focus {
    outline: 1px solid #000;
}

.section-navigation .megamenu > div > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: normal;
}

.section-navigation .megamenu > div > li > ul > li > a:hover,
.section-navigation .megamenu > div > li > ul > li > a:focus {
    text-decoration: none;
    color: #262626;
}

.section-navigation .megamenu.disabled > a,
.section-navigation .megamenu.disabled > a:hover,
.section-navigation .megamenu.disabled > a:focus {
    color: #999999;
}

.section-navigation .megamenu.disabled > a:hover,
.section-navigation .megamenu.disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    cursor: not-allowed;
}

.section-navigation .megamenu.dropdown-header {
    color: #428bca;
    font-size: 18px;
}

@media (max-width: 768px) {
    .section-navigation .megamenu {
        margin-left: 0;
        margin-right: 0;
    }

    .section-navigation .megamenu > li {
        margin-bottom: 30px;
    }

    .section-navigation .megamenu > li:last-child {
        margin-bottom: 0;
    }

    .section-navigation .megamenu.dropdown-header {
        padding: 3px 15px !important;
    }

    .section-navigation .navbar-nav .open .dropdown-menu .dropdown-header {
        color: #fff;
    }
}

/*New manga section*/
/*// Small devices (landscape phones, 576px and up)*/
/*New manga section -> item*/
.item {
    padding: 5px 0;
}

.item-img-width {
    width: 100%;
    height: 100%;
}

@keyframes ringring {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.item:hover {
    -webkit-animation-name: ringring;
    animation-name: ringring;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.section-padding {
    width: 100%;
    padding: 5px 5px;
    background: #fff;

}

.section-padding .item-title {
    width: calc(100% - 10px);
    margin-left: 5px;
    margin-right: 5px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.section-padding .item-link {
    color: #212529 !important;
    font-weight: bold;
}

.section-padding .item-chapter-link {
    color: #868e96 !important;

}

.social {
    display: block !important;
}

/*end New manga section -> item*/
@media (min-width: 576px) {

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 1024px) {

}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .manga-search-merge {
        position: absolute !important;
        padding-top: 0 !important;
        right: 0;
    }
}

/*End New Manga Section*/

/*FOOTER*/
.section-copyright {
    background: #212529;
    color: white;
}

/*Modal Login*/
.modal .modal-content {
    border-radius: 0;
}

.modal .modal-content .form-control {
    border-radius: 0;
    background: #f1f3f5;
    color: #212529;
}

.modal .modal-content .form-control:focus {
    outline-color: #DB0008 !important;
    border-color: #DB0008 !important;
}

.btn-login, .list-unstyled button {
    background: #f40009;
    border-color: transparent;
    border-radius: 0;
    color: white;
    font-family: 'Roboto';
}

.section-navigation .nav-link:focus {
    outline: none !important;
    border: 0 !important;
}

.btn-login:hover, .list-unstyled button:hover {
    background: #DB0008;
}

.social a, .social {
    color: white
}

.social {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    display: none;
}

.social .btn-logout {
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 5px;
}

.social .fa-globe {
    color: #DB0008;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.list-unstyled {
    background: white;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 20px;

}

.list-unstyled .form-control {
    border-color: #DB0008;
    border-radius: 0;

}
