
.section-read-manga {
    width: calc(100% - 10px);
    padding-right: 5px;
    padding-left: 5px;
}

.chapter {
    width: 100%;
    margin: 0 auto;
}

.chapter-navigation {
    width: 100%;

}

.chapter-navigation .form-group {
    margin: 0 auto;
}

.chapter-navigation .form-control {
    width: calc(100% - 90px);
    border-radius: 0;
    height: 35px;
    border-color: #DB0008;
}

@media (min-width: 768px) {
    .chapter-navigation .form-control {
        width: calc(100% - 90px);
        border-radius: 0;
        height: 35px;
    }

    .chapter-navigation {
        padding: 0 30%;
    }
}

.btn-login {
    background: #f40009;
    border-color: transparent;
    border-radius: 0;
    color: white;
    font-family: 'Roboto';
}

.chapter-navigation .btn-primary {
    font-family: 'Roboto';
}

.chapter-navigation button {
    width: 45px;
}

.chapter-navigation select {
    text-align-last: center;
}

img {
    max-width: 100%;
    height: auto !important;
    display: block;
    vertical-align: middle;
    margin: 2px auto;
}

.nav-fixed {
    overflow: hidden;
    position: fixed;
    top: 5px;
    opacity: 0.3;
}

.nav-fixed:hover {
    transition: 0.3s;
    opacity: 1;
}


